@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

html {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

header {
  text-align: center;
}

h1 {
  color: hsl(0, 0%, 59%);
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

img {
  width: 100%;
}

input[type="email"] {
  border: 1px solid hsl(223, 100%, 88%);
  border-radius: 500px;
  padding: 1rem;
  margin-bottom: 1rem;
}

span {
  color: black;
  font-weight: 700;
}

.logo {
  margin-bottom: 2.5rem;
  margin-top: 8.5rem;
  width: 5rem;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: hsl(223, 87%, 63%);
  border-radius: 500px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem 3rem;
}

.hero {
  max-width: 640px;
}

.form {
  margin-bottom: 4.7rem;
  width: 100%;
}

.title {
  margin-bottom: 2rem;
}

.sub {
  margin-bottom: 2rem;
}

.hero {
  width: 90%;
}

.social {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.social__items {
  display: flex;
}

.social__item {
  height: 1rem;
  width: 1rem;
  margin: 0.5rem;
}

@media only screen and (min-width: 960px) {
  header {
    margin: 0 auto;
    width: 60%;
  }

  h1 {
    font-size: 2.5rem;
  }

  form {
    flex-direction: row;
  }

  input[type="email"] {
    margin: 0 1rem;
    width: 60%;
  }

  .btn {
    width: 30%;
  }

  .logo {
    margin-top: 4.35rem;
  }
}
